html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.bg-container {
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 4px gray;
    font-family: "Roboto";
    margin: 25px;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
}

.nav-bar__heading {
    font-size: 20px;
    font-weight: bold;
}

.nav-bar__unordered-list {
    display: flex;
    margin-left: 120px;
}

.nav-bar__breadcrumb-item::after {
    content: "/";
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar__item {
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.nav-bar__item--payment-method {
    font-weight: 600;
}

.nav-bar__x-mark-icon {
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
}

.bg-container__span-wrapper {
    display: flex;
    align-items: center;
}

.span-wrapper__primary-title {
    background-color: #ffffff;
    font-size: 20px;
    width: 60%;
    padding: 10px;
}

.span-wrapper__secondary-title {
    background-color: #e0e0de;
    font-size: 20px;
    width: 40%;
    padding: 10px;
}