#img1{
    margin-left: -100px;
}
body{
    margin: 0%; 
}
.main{
    top: 8%;
    left: 100px;
    border: 1px solid rgba(128px, 128px, 128px, 0.5px);
    padding: 0px;
    width: 1000px;
    height: 470px;
    position: fixed;
    background-color: white;
   
}
.main_Fr{
    height: 30px;
    width: 1000px;
    box-sizing: border-box;   
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.50);
  }
  #ship{
    padding-left: 60px;
    margin: 0%;
    padding-top:5px;
}
b{
    padding-top:5px;
    padding-left:5px;
}
#con{
    margin:0%;
    padding-top:5px;
    padding-left:5px;
}
#close{
    padding-left:558px;
    margin:0px;
    padding-top:5px;
}
.Wallet_box{
    border-bottom: 1px solid rgba(128, 128, 128, 0.50);
    width: 645px;
    height: 35px;
    margin: 0%;
    margin-left: 5px;
}
#Wallet_p{
    margin:0%;
    font-size: 13px;
    padding-top: 18px;
    color: darkgrey;
}
.Card_box{
    padding-left: 30px;
    padding-top: 20px;
    display: flex;

}
.Card_1{
    font-size: 11px;
    padding-right: 40px;
}
.Card_2{
    padding: 10px;
    font-size:11px;
    border: 1px solid rgba(128, 128, 128, 0.50);
    background-color:rgb(234, 232, 232);
    margin-top:-10px;
    margin-bottom: 200px;
}
.Card_3{
    padding-left:40px;
    font-size: 11px;
}
.New_Card{
    margin-top:-180px;
    font-size: 13px;
    color:darkgrey;
    border-bottom: 1px solid rgba(128, 128, 128, 0.50);
    margin-left: 5px;
    padding-top: 5px;
    width: 645px;
}
form{
    padding-left: 190px;
    padding-top: 20px;
    
}
.card{
    width: 270px;
    height: 30px;
    font-size: 10px;
    padding-left: 5px;
    font-weight: 600;
}
.Account_no{
    margin-top: 10px;
    font-size: 20px;
}
input[type="number"] {
    font-size:13px;
    width: 270px;
    height: 30px;
    padding-left: 5px;
    font-weight: 400;
}
.Input_3{
    display: flex;
    flex-direction: row;
}
.month{
    width: 130px;
    margin-top:10px;
    padding-left: 5px;
    height: 30px;
    font-weight:600;
    font-size:10px;
}
.cvv{  
    margin-top:5px;
    width: 130px;
    margin-left:5px;
    height: 30px;
    font-weight:600;
    font-size:10px;
}
.btn{
    width: 270px;
    height: 30px;
    margin-top: 25px;
    background-color: rgb(17, 181, 17);
}
#continue{
    font-size: 9px;
    font-weight: 500;
    padding-left: 110px;
    padding-top: 10px;
    color: white;
    cursor: pointer;
}
.mobile_holder{
    display: flex;
    margin-top: -421px;
    margin-left: 650px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.50); 
    background-color: rgb(233, 232, 232);
}
#m1{
   margin: 10px;
    border: 5px solid rgb(185, 178, 178);
    display: flex;  
}
#m2{
    font-size: 13px;
    padding-top: 10px;
    padding-left: 60px;
    position: fixed;      
}
#m3{
    font-size: 10px;
    margin-left: -80px;
    margin-top: 25px;
    padding-top: 4px;
    font-style: italic;
    padding-left: 76px;
}
#m4{
    font-size: 13px;
    margin-left: -25px;
    margin-top: 30px;
    padding-top: 10px; 
    padding-left: 89px;
    position: fixed;
}
#m5{
    padding-left: 215px;
    padding-top: 13px;
    font-size: 13px;
    margin: 0%;
}
.Rado_watch{
    display: flex;
    margin-left: 650px;
    position: fixed;
    height: 70px;
    width: 350px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.50);
    background-color: rgb(233, 232, 232);
}
#rado_1{
    margin: 10px;
    border: 5px solid rgb(185, 178, 178); 
    position: fixed;  
}
#rado_2{
    font-size: 13px;
    margin-left: 60px;
    margin-top: 7px;
    position: fixed;
}
#rado_3{
    margin-top: 26px;
    margin-left: 65px;
    font-size: 10px;
    font-style: italic;
}
#rado_4{
    margin-top: 37px;
    margin-left: 64px;
    font-size: 13px;
    position: fixed;   
}
#rado_5{
    margin-top: 10px;
    margin-left: 215px;
    font-size: 13px;
}
.C_type{
    display: flex;
    position: fixed;
    margin-left: 650px;
    margin-top: 71px;
    width: 350px;
    height: 70px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.50);
    background-color: rgb(233, 232, 232);
}
#Micro_1{
    margin: 10px;
    border: 5px solid rgb(185, 178, 178); 
    position: fixed;  
}
#Micro_2{
    font-size: 13px;
    margin-left: 60px;
    margin-top: 8px;
    position: fixed;
}
#Micro_3{
    margin-top: 26px;
    margin-left: 65px;
    font-size: 10px;
    font-style: italic;
}
#Micro_4{
    margin-top: 37px;
    margin-left: 64px;
    font-size: 13px;
    position: fixed;
}
#Micro_5{
    margin-top: 10px;
    margin-left: 215px;
    font-size: 13px;
}
.Mobile_Pouch{
    display: flex;
    position: fixed;
    margin-left: 650px;
    margin-top: 142px;
    height: 125px;
    width: 350px;
    background-color: rgb(233, 232, 232);
    border-bottom: 1px solid rgba(128, 128, 128, 0.50);
}
#Mp_1{
    margin: 10px;
    border: 5px solid rgb(185, 178, 178); 
    position: fixed; 
}
#Mp_2{
    font-size: 13px;
    margin-left: 60px;
    margin-top: 8px;
    position: fixed;
}
#Mp_3{
    margin-top: 26px;
    margin-left: 65px;
    font-size: 10px;
    font-style: italic;
}
#Mp_4{
    margin-top: 37px;
    margin-left: 64px;
    font-size: 13px;
    position: fixed;  
}
#Mp_5{
    margin-top: 10px;
    margin-left: 215px;
    font-size: 13px;
}
.charges{
    background-color:  rgb(233, 232, 232);
    display: flex;
    position: fixed;
    margin-left: 650px;
    margin-top: 268px;
    height: 70px;
    width: 350px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.50);
}
#sub_total{
    margin: 10px;
    font-size: 11px; 
    position: fixed; 
}
#charge_1{
    margin-top: 10px;
    margin-left: 303px;
    font-size: 11px;
    position: fixed;
    display: flex;
}
#Shipping{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 11px; 
    position: fixed;
}
#charge_2{
    margin-top: 30px;
    margin-left: 308px;
    font-size: 11px;
    position: fixed;
    display: flex;
}
#Taxes{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 11px; 
    position: fixed;
}
#charge_3{
    margin-top: 50px;
    margin-left: 312px;
    font-size: 11px;
    position: fixed;
    display: flex;
}
.Total_box{
    display: flex;
    position: fixed;
    margin-left: 650px;
    margin-top: 339px;
    height: 36px;
    width: 350px;
    background-color:  rgb(233, 232, 232);
    border-bottom: 1px solid rgba(128, 128, 128, 0.50);   
}
#Total{
    margin: 10px;
    margin-left:5px;
    font-size: 11px; 
    position: fixed;
}
#Total_price{
    margin-top: 5px;
    margin-left: 298px;
    font-size: 11px;
    position: fixed;
    display: flex;
}
